.card-counter-box {
    display:flex;
    width: 100%
}

.button-minus {
    background-color: var(--red);
    width: 1.5rem;
    border-radius: 5px 0 0 5px;
}

.button-plus {
    background-color: var(--green);
    width: 1.5rem;
    border-radius: 0 5px 5px 0;
}

.trash-icon {
    width: 80%;
}