.button {
    max-width: 11rem;
    height: contain;
    padding: 0.2rem 0.5rem;
    background-color: var(--light-blue);
    color: var(--not-black);
    font-size: 1.4rem;
    font-weight: lighter;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: inset 1px 1px 6px var(--dark-blue);
}

.button:hover {
    box-shadow: inset 2px 2px 8px var(--dark-blue);
}

.button:active {
    box-shadow: inset 4px 4px 10px var(--dark-blue);
}