.user-card-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.user-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.user-card img {
    width: 100%;
    height: auto
}

.user-input {
    font-size: 100%;
}

.user-name-container {
    position: absolute;
    top: 5%;
    left: 8%;
    width: 60%;
    height: 5%;
}

.user-image-container {
    position: absolute;
    top: 11.6%;
    left: 8%;
    width: 84%;
    height: 44.2%;
    overflow: clip;
}

.user-image-container img {
    width: 100%;
    height: auto
}

.creature-type-container {
    position: absolute;
    top: 56.65%;
    left: 8%;
    width: 85%;
    height: 5%;
}

.user-bio-container {
    position: absolute;
    top: 63%;
    left: 8%;
    width: 85%;
    height: 28%;
    padding: 1%;
}

.user-bio {
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 0.8em;

}

