.card-container {
    width: calc(672px / 4);
    height: calc(936px / 4);
    background-color: var(--not-white);
    border-radius: 5px;
    position: relative;
}

.card-container img {
    width: 100%;
    height: auto;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 12px;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.button-container:hover {
    opacity: 1;
    transition: opacity 0.3s;
}