.decks-flow {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-basis: fit-content;
    width: 100%;
    overflow-y: auto;
}

.new-deck-button {
    display: flex;
    justify-content: flex-end;
}