/*green border*/
.dropdown-menu-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 0.5rem;
    height: 100%;
    overflow-y: scroll;
}

/*orange border*/
.card-type-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    width: 48.75rem;
}

/*pink border*/
.card-type-dropdown-flow {
    height: 100%;
    overflow: hidden;
}

.deck-editor-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

@media screen and (min-width: 600px) {

    .deck-editor-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin: 0 1.2rem;
    }

}

