.account-container {
    display: flex;
    flex-direction: column;
    height: 35rem;
    width: 25rem;
}

.section-title {
    color: var(--dark-blue);
}

.user-card-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.edit-button {
    height: 40px;
}