.button-small {
    height: 1.5rem;
    border: none;
    border-radius: 5px;
    box-shadow: -2px 2px 0 var(--not-black);
    cursor: pointer;
}

.button-small:hover {

}

.button-small:active {
    box-shadow: -1px 1px 0 var(--not-black);
}

.red-minus {
    background-color: var(--red);
    width: 1.5rem;
}

.green-plus {
    background-color: var(--green);
    width: 1.5rem;
}

.add-button {
    background-color: var(--green);
    width: 3rem;
}

.deck-summary-button {
    width: 1.5rem;
    background-color: var(--light-grey);
    border: none;
}

.lightbox {
    width: 1.5rem;
}

