.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url("./assets/bgWhite.png");
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 1rem;
}
