
/*colors*/
:root {

}

/*reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Guide Borders*/
.red-border {border: 2px dashed red}
.green-border {border: 2px dashed green}
.blue-border {border: 2px dashed blue}
.orange-border {border: 2px dashed orange}
.purple-border {border: 2px dashed purple}
.brown-border {border: 2px dashed brown}
.pink-border {border: 2px dashed deeppink}
.yellow-border {border: 2px dashed yellow}