.card-search-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    width: 48.75rem;
}

.card-search-header {
    display: flex;
    justify-content: space-between;
    color: var(--dark-blue);
}

.search-menu {

}

.key-cmc {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%
}

.card-spec-dropdowns {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%
}

.card-flow-container {
    overflow: hidden;
}

.card-flow {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: 100%;
    /*height: 100%;*/
    overflow-y: scroll;

}