/*orange*/
.card-search-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    width: 48.75rem;
    min-width: 230px;
}

.card-search-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: var(--dark-blue);
}

.key-search {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%
}

.card-spec-dropdowns {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%
}

/*pink*/
.card-flow-container {
    overflow: hidden;
    height: 100%;
}

.card-flow {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: 100%;
    /*height: 100%;*/
    overflow-y: scroll;
}

.sort-cmc-search-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: none;
}

.cmc-counter-container {
    display: flex;
    text-align: end;
}

.cmc-slider {
    width: 100%;
}

.paginating-button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


@media screen and (min-width: 900px) {
    .card-spec-dropdowns {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        width: 100%
    }

    .sort-cmc-search-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 0.5rem;
    }
}
