.message {
    height: contain;
    width: 100%;
    border-radius: 7px;
    color: var(--not-black);
    text-align: center;
    padding: 8px;
    /*box-shadow: -2px 2px 0 var(--not-black);*/
}

.good-news {
    background-color: var(--green);
}

.bad-news {
    background-color: var(--red);
}

.message-container {
    display: flex;
    width: 100%;
    padding: 3px;
}